*{
    box-sizing: border-box;
}
 
body
    {
        margin: 0;
        padding: 0;
        // background-color: rgba(0,0,0,1);
    }

.main-app {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.modals-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.App-black {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 93vw;
    background-color: black;
}

.btn 
    {
    display: inline-block;
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
    text-align:center;
    min-width: 80px;
    margin: 0 8px;
    border-style: none;
    border: none;
    outline: none; 
    height: 40px;
}

.close-btn {
    background-color: rgba(0,0,0,0);
    color: #fefbfb;
    border: none;
    font-size: 20px;
    font-weight: lighter;
    cursor: pointer;
}

.modal {
    width: 515px;
    height: 255px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    font-family: "Helvetica";
    color: #ffffff;
}
.modal-head {
    background-color: rgba(0,0,0,.1);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
  
}

.modal-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-text {
    width: 85%;
    height: 60px;
    line-height: 30px;
    font-size: 15px;
    padding-bottom: 80px;
    text-align: center;
}

.buttons, .app-buttons {
    display: flex;
    margin-bottom: 30px;   
    
}

.display-none {
    display: none;
}



